* {
    margin: 0;
    padding: 0;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.round {
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background-color: #848484;
    position: relative;
    top: 0.5%;
    z-index: 99;
}

.clockCon {
    background-image: url("clock.png");
    background-repeat: repeat;
    background-size: 100%;
    height: 45vw;
    width: 45vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour {
    /* background: rgb(132, 132, 132); */
    border: 2px solid rgb(132, 132, 132);
    width: 2%;
    bottom: 50%;
    height: 25%;
    left: 48%;
    position: absolute;
    border-radius: 16px;
    transform-origin: bottom;
    z-index: 3;
}

.minutes {
    background: rgb(132, 132, 132);

    width: 1.5%;
    bottom: 50%;
    height: 30%;
    position: absolute;
    border-radius: 16px;
    transform-origin: bottom;
    z-index: 3;
}

.second {
    background: rgb(255, 54, 54);
    width: 1%;
    bottom: 50%;
    height: 40%;
    position: absolute;
    border-radius: 16px;
    transform-origin: bottom;
    z-index: 1;
}